name: Publish Docker Image

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: onelmelvy/tp-cicd-github-actions:latest, onelmelvy/tp-cicd-github-actions:${{ github.event.release.tag_name }}

      # --- NOUVELLE ÉTAPE À AJOUTER ---
      - name: Trigger Render Deployment
        run: curl "${{ secrets.RENDER_DEPLOY_HOOK }}"